@import 'tailwindcss';

@theme {
  /* agnetify colours */
  --color-agentify-accent-coral: #fc6471;
  --color-agentify-accent-coral-hover: #ff5b69;
  --color-agentify-accent-green: #4cdc8c;
  --color-agentify-accent-blue: #8dbbff;
  --color-agentify-dark: #333333;
  --color-agentify-dark-gray: #606060;
  --color-agentify-gray: #f4f4f4;
  --color-agentify-white: #ffffff;

  /* agentify typography */
  --font-inter: Inter;
}

.prevent-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
